<h2>Products</h2>

<!-- <div *ngFor="let product of products">

  <h3>
    <a [title]="product.title + ' details'">
      {{ product.title }}
    </a>
  </h3>

  <p *ngIf="product.description">
    Description: {{ product.description }}
  </p>
  
  <button type="button" (click)="share()">
    Share
  </button>
</div> -->
<div class="container">
  <div class="card" *ngFor="let product of products">
    <a [href]="productsLinks[product.id]">
      <div class="image" [style.background-image]="'url(' + product.image + ')'"></div>
      <p class="title">{{ product.title.substring(0, 15) }}...</p>
      <p class="description">{{ product.description.substring(0, 50) }}...</p>
      <p class="price">
        <span class="rating">{{ product.rating.rate }}</span>
        <span>{{ product.price }} KZT</span>
      </p>                
    </a>

    <button class="btn" (click)="redirectToWhatsApp(product.id)">Share</button>
  </div>
</div>
