body {
    margin: 0;
    background-color: #047b5f;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 400px;
    text-align: center;
}

#input {
    font-size: 24px;
    box-sizing: border-box;
    padding: 9px 18px;
    border-radius: 10px;
    border: none;
}

.input_button {
    display: flex;
    justify-content: space-between;
}

#input:focus {
    outline: none;
    box-shadow: 0 0 20px rgb(177, 40, 211);
}

button {
    font-size: 50px;
    box-sizing: border-box;
    border-radius: 10px;
    border: none;
    padding: 0 10px 0 10px;
}

.tasks_block {
    height: 400px;
    overflow-y: scroll;
    border: 1px solid #fff;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(177, 40, 211);
    padding: 0 10px;
}
.tasks_block::-webkit-scrollbar {
    width: 8px; /* для Chrome, Safari, Opera */
}

.tasks_block::-webkit-scrollbar-thumb {
    background-color: #fff; /* цвет ползунка */
}

.tasks_block::-webkit-scrollbar-track {
    background-color: #047b5f; /* цвет фона */
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
    font-size: 22px;
}

.done {
    text-decoration: line-through;
}

.remove_button {
    width: 30px;
    height: 30px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    color: #fff;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}